<div class="container" [ngClass]="{'animation-fade-in': pageLoaded}">
    <h3 class="container-name">Dusten Peterson</h3>
  <div class="container-body">
    <h1 class="container-body-description">Software Developer & Freelancer</h1>
    <div class="container-body-buttons">
      <a href="https://www.linkedin.com/in/dustenpeterson/" target="_blank" class="icon-size"><i class="icon-social-linkedin"></i></a>
      <a href="https://github.com/vvdub" target="_blank" class="icon-size"><i class="icon-social-github"></i></a>
      <a href="mailto:dustenpeterson@gmail.com" class="icon-size"><i class="icon-envelope"></i></a>
    </div>
</div>